div#tasto1,div#tasto2, div#tasto3,div#tasto4,div#tasto5,div#tasto6,
div#tasto7,div#tasto8,div#tasto9,div#tasto10,div#tasto11,div#tasto12,
div#tasto13,div#tasto14,div#tasto15,div#tasto16,div#tasto17,div#tasto18
{
  height:110px;
  width:110px;
  border:1.2pt outset;
  text-align: center;
  -moz-border-radius:10px;
}
div#user, div#user1, div#user2, div#user3,
div#user4, div#user5, div#user6, div#user7,
div#user8, div#user9
{
  cursor: pointer;
  cursor: hand;
  height:110px;
  width:110px;
  border:1.5pt outset;
  padding: 0px;
  -moz-border-radius:10px;
  background-color: #EEEEEE;
  overflow:hidden;
  text-align: center;
}


table.tast
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 14pt;
  font-size: 8pt;
  font-weight: bold;
  color: #999999;
}


div.adatta
{
  margin: 4px;
  width: 103px;
  height: 103px;
}

img.adatta
{
  position: relative;
  top: 0px;
  left: 0px;

  width: 103px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#perAcrobat
{
  cursor: pointer;
  cursor: hand;

  height:25px;
  width:232px;
  overflow:hidden;

  border:1.5pt outset #999999;
  -moz-border-radius:10px;

  color: #999999;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
  background-color: #EEEEEE;
  font-size: 9pt;
}

textarea.descrReset
{
  width:98%;
  height: 198px;
  overflow:auto;

  border: 0px;

  color: #999999;
  font-family: "Georgia", "Times New Roman", "Times", serif;
  line-height:14pt;
  font-size: 8pt;
  font-weight: bold;

  background-color: transparent;
}
