p.comeTabella
{
  margin:0px 20px 0px 25px;
  font-family: "Georgia", "Times New Roman", "Times", serif;
  line-height:14pt;
  font-size:9pt;
}

div.spot_right
{
  float: right;
  width: 470px;
}

div.spot_left
{
  width: 450px;
  min-height:580px;

  line-height:12pt;
  font-family: "Georgia", "Times New Roman", "Times", serif;
  font-size: 8pt;
}

div.spot_text
{
  width: 420px
}

div.banner_sx
{
  margin: 0px;
  margin-left:10px;
}

div.banner_dx
{
  margin-left:350px;
  margin-top: -47px;
}

div.spot_body
{
  margin-left:700px;
}

span.checkbox
{
  width: 19px;
  height: 25px;
  padding: 0 5px 0 0;
  background: url(./imgs/checkbox.gif) no-repeat;
  display: block;
  clear: left;
  float: left;
}

span.radio
{
  width: 19px;
  height: 25px;
  padding: 0 5px 0 0;
  background: url(./imgs/radio.gif) no-repeat;
  display: block;
  clear: left;
  float: left;
}


table.spot
{
  vertical-align: middle;

  margin-top: 10px;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0;
}

img.spot
{
  padding:0px;
  border-width:0px;
  margin:0px;
  display: block;
  height:100%;
  width:100%;
  /* width: 470px; */
}
div.text_preview
{
  position: absolute;
  top: 10px;
  left: 10px;
}

textarea.descr
{
  width: 466px;
}

table.pubblicita
{
  margin: 0;
  border-collapse: collapse;
  padding: 0;

  color: black;
  line-height:10pt;
  font-weight: bold;
  font-size:8pt;

  table-layout: fixed;
}
table.pubblicita td
{
  height: 70px;

  margin: 0;
  border: 0;
  padding: 0;

  background: transparent;
}

table.pubblicita td.space
{
  width: 40px;
}

div.area
{
  width: 200px;
  height: 70px;

  margin:0px;
  padding:0px;

  cursor:pointer;
  cursor:hand;

  overflow: hidden;
}

div.area
{
  width: 180px;
  height: 70px;

  margin:0px;
  padding:0px;
  border: 2px outset silver;
  -moz-border-radius: 10px;

  background-color: white;
  overflow: hidden;

  text-align: center;
}

img.area
{
  height: 70px;
  -moz-border-radius: 10px;
}

textarea.descri
{
  width: 180px;
  height: 60px;

  text-align:center;

  margin: 0px; border: 0px; padding: 0px;
  padding-top: 10px;
  -moz-border-radius: 10px;

  font-family: "Georgia", "Times New Roman", "Times", serif;
  line-height:10pt;
  font-size: 8pt;
  font-weight: bold;
  color: black;
}
